* {
    padding: 0;
    margin: 0;
}

main {

    margin: auto;
    background: gray;
    max-width: 1300px;
    height: 100vh;




    .allInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'div div'
            'div div'
            'div div'
            'footer footer';

        div {
            height: 700px;
            color: white;
            border: 1px solid white;
        }

        .div1 {
            background-color: #000;

        }

        .div2 {
            background-color: #607d8b;

        }

        .div3 {
            background-color: #f1f1f1;

        }

        .div4 {
            background-color: #3f51b5;

        }

        .div5 {
            background-color: #616161;

        }

        .div6 {
            background-color: #009688;

        }
    }
}

footer {
    background-color: #000;
}